#Tue Mar 01 14:07:21 IST 2022
mail.smtp.toEmail=ENC1(gRMHIBtNmVBsoCIEL/xz1gzUJ+kT83zjtxFuQoEgoH8KYXHsLox1BJygZhYVFzVsw3mPoVHCulIQnpNYsNpipw\=\=)
mail.smtp.ssl.enable=false
mail.smtp.other.port=
Encryptor.check=Provar
mail.smtp.starttls.required=false
mail.smtp.host=smtp.gmail.com
mail.smtp.timeout=60000
mail.smtp.starttls.enable=false
mail.smtp.port=587
mail.smtp.username=ENC1(0kKP1zDliDYtW5TZyTU5AHnOm8FoDjFUBfW+knBOueKkdTTw4UC96X9OyFdpBR0lh7SI4HNCzfQRoF0Ex30TtYFTgqwqD/TZ9zDq0WGUqmg\=)
mail.smtp.password=ENC1(fXVVDHDjLhd8GEy2RtMAh+bDZrY40FsLTVXTP0iy+tPUaoWM2E9hwQ7kAZ0SIcNu)
mail.smtp.other.host=
